body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Barra lateral de administrador*/
.sidebar {
    position: fixed; /* Posición fija */
    width: 150px; /* Ancho de la barra lateral */
    background-color: #02111f; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 1%; /* Espacio interno */
    height: 100%; /* Altura completa de la ventana */
    position: fixed; /* Fija la barra lateral */
    z-index: 1000;
}

.admin-perfil {
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente */
}

.imagen-admin {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border: 1px solid #ffffff; /* Agrega un borde a la imagen */
    border-radius: 30px; /* Bordes redondeados opcionales */
}

.usr-admin {
    font-size: 25px; /* Ajusta el tamaño de la fuente según sea necesario */
}

.separator-sup {
    margin-top: 20px; /* Ajusta este valor según lo que necesites */
    border: none; /* Si quieres que sea solo un espacio y no una línea */
    border-top: 1px solid #ccc; /* Solo si deseas que se vea como una línea */
}

.separator-inf {
    margin-bottom: 20px; /* Ajusta este valor según lo que necesites */
    border: none; /* Si quieres que sea solo un espacio y no una línea */
    border-top: 1px solid #ccc; /* Solo si deseas que se vea como una línea */
}

.nav-left, .nav-bottom {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    font-family: 'Jersey 10', sans-serif;
    height: 70%;
}

.nav-left li,
.nav-bottom li {
    margin: 15px 0; /* Margen entre los elementos */
    transition: transform 0.3s ease;
}

.nav-left li a {
    margin: 15px 0; /* Margen entre los elementos */
    font-size: 30px;
    display: inline-block; /* Hacer que el enlace ocupe todo el ancho */
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

a:hover {
    color: #61a1ff; /* Color de fondo al pasar el ratón */
    transform: scale(0.95);
}

.logo {
    justify-content: center;
    margin-top: 20px; /* Espacio inferior para separar el logo del menú */
    position: relative; /* Fija la barra lateral */
    bottom: 0;
    padding: 20px; /* Espacio interno */
}

.logo img {
    max-width: 100%;
    height: auto; /* Altura del logo */
    width: auto; /* Mantener la proporción */
}

.no-sidebar {
    
    margin-left: 150px;
}

/* Buscador */
.search-wrapper {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 10px;
    margin-left: 4%;
    margin-right: 20%;
    border-radius: 10px;
    height: 40px;
    position: relative;
    top: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;              /* Ancho del buscador */
    max-width: 1600px;         /* Ancho máximo */
    padding: 10px;
    border: 2px solid #d9d9d9;
    background-color: #FDFDFD;
    border-radius: 56px;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 30px;
    padding: 10px;
    outline: none;
    background-color: transparent;
    font-family: 'Jersey 10';
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.search-icon {
    width: 24px;
    height: 24px;
}

/* Aumentar tamaño del icono en el botón de búsqueda */
.search-button i {
    font-size: 30px; /* Tamaño del icono */
    color: #d9d9d9; /* Puedes ajustar el color si lo deseas */
}

.full-width-line {
    border: none;              /* Elimina el borde predeterminado */
    border-top: 6px solid #000000;  /* Estilo de la línea: grosor y color */
    width: 80%;               /* La línea ocupa el 60% del ancho de la página */
    margin: 20px auto;        /* Espaciado vertical y centra horizontalmente */
    margin-top: 60px;
}

/* Resultados busqueda */
.resultados-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* Este es el ancho actual de la caja */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 500px;
    overflow-y: auto;
}
/* Estilo para cada resultado de juego */
.resultado-noticia {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: block; /* Asegura que cada uno esté en su propia fila */
    width: 100%;
}

.resultado-noticia:hover {
    background-color: #f0f0f0;
}

/* Añadir noticia */
.anyadir-button {
    display: flex;
    position: absolute;
    background-color: #d9d9d9;
    border: none;
    color: #02111f;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Jersey 10';
    font-size: 24px;
    right: 2%; 
    align-items: center;
    cursor: pointer;
    height: 40px;
    transition: none;
    transform: none;
    top: 30px;
}

.anyadir-button i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 20px;
}

/* NOTICIAS */
/* Lista de noticias*/
.new-list { 
    display: grid; /* Bidimensional */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 50px; 
    margin-left: 2%;
    margin-top: 2%;
}

/* Cada noticia*/
.highlighted-new {
    position: relative; 
    margin: 20px 20px; /* Margen superior e inferior */
}

/* Caja trasera*/
.background-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02111f; 
    z-index: 1; 
    border-radius: 8px;
}
 /* Caja delantera con imagen*/
.foreground-box {
    position: relative; /* Para asegurarnos de que el contenido esté por delante */
    top: 10px;
    left: 10px;
    z-index: 2; 
    display: block; /* Hace que el enlace ocupe el espacio completo */
}

.new-image {
    width: 100%; 
    height: 220px; 
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border-radius: 8px;
}

.titulo-noticia {
    position: absolute;
    bottom: 0; /* Coloca el pie de noticia en la parte inferior de la imagen */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 0 0 8px 8px; /* Radio para cada esquina */
    margin-bottom: 0.75%;
}

/* Boton eliminar noticia */
.delete-button {
    display: flex;
    position: absolute;
    background-color: #e90a0afb;
    color: #000000fb;
    border: none;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer; 
    top: 0;
    right: 0;
    z-index: 3;
    height: 22px;
    width: 20px;
    margin-right: 2%;
    margin-top: 4%;
    transition: none;
    transform: none;
}

.delete-button i {
    font-size: 20px;
    height: 80%;
    width: 80%;
}


/* Estilos del modal */
.modal {
    position: fixed;
    display: none; /* Por defecto, el modal está oculto */
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
    padding-top: 60px; /* Espacio superior */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 50%; 
    max-width: 600px; /* Ancho máximo */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2, .modal-content p {
    margin: 10px 0;
}

.confirmButton {
    background-color: #28a745; /* Color del fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Padding interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    margin: 10px; /* Margen entre botones */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

.confirmButton:hover {
    opacity: 0.8;
}

.denyButton {
    background-color: #bd1919; /* Color del fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Padding interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    margin: 10px; /* Margen entre botones */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

.denyButton:hover {
    opacity: 0.8;
}


/* Paginación */
.pagination {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff; /* Color del texto por defecto en blanco */
    padding: 5px 10px; /* Aumentar el tamaño del botón */
    border-radius: 5px; /* Bordes redondeados para un estilo más suave */
    background-color: #686868; /* Fondo gris por defecto */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
    font-size: 22px; /* Aumentar tamaño de fuente para los números de página */
    border: 1px solid transparent; /* Borde por defecto transparente */
}

/* Estado activo */
.pagination a.active {
    background-color: #b80101; /* Color granate cuando está activo */
    color: rgb(255, 255, 255); /* Color del texto cuando está activo */
    border: 1px solid #b80101; /* Borde granate para el botón activo */
}

/* Efecto hover */
.pagination a:hover {
    background-color: #FF0000; /* Color rojo al pasar el ratón */
    color: white; /* Color del texto en rojo al pasar el ratón */
    border: 1px solid #FF0000; /* Borde rojo al pasar el ratón */
}

/* Estilos específicos para los enlaces de "Anterior" y "Siguiente" */
.pagination .prev-next {
    background-color: #023061; /* Color de fondo azul para "Anterior" y "Siguiente" */
    border: none; /* Eliminar el borde si lo deseas */
    font-weight: bold; /* Resaltar texto */
    font-size: 22px; //* Aumentar tamaño de fuente también para "Anterior" y "Siguiente" */
}

.pagination .prev-next:hover {
    background-color: #0056b3; /* Color más oscuro de azul al pasar el ratón */
}

/* Pie de pagina */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #021324; /* Color de fondo */
}

.footer-title {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    color: white;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
}

.footer-title::before,
.footer-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 5px;
    background-color: rgb(255, 255, 255); /* Color de las líneas */
}

.footer-title::before {
    left: 0;
    margin-right: 10px;
}

.footer-title::after {
    right: 0;
    margin-left: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px; /* Espacio entre columnas */
    padding: 20px 0;
    color: white;
    font-style: italic;
}

.footer-column {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 50px;
}

.footer-column img {
    width: 30px; /* Ajusta la imagen al tamaño del contenedor */
    height: 30px; /* Mantiene la relación de aspecto */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.footer-column img:hover {
    transform: scale(1.2); /* Aumenta ligeramente el tamaño del texto */
}
.small-link {
    transition: transform 0.3s ease; /* Transición suave */
    display: inline-block; /* Asegúrate de que los enlaces sean bloques en línea */
    font-size: 14px; /* Ajusta el tamaño de la fuente aquí */
}

.small-link:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
}